@tailwind base;
@tailwind components;
@tailwind utilities;

.transitionAnim {
  @apply transition-opacity duration-[1300ms] opacity-0;
}

@font-face {
  font-family: regrade;
  src: url("/neue_regrade.ttf");
  font-weight: 500;
}

@font-face {
  font-family: regradeBold;
  src: url("/neue_regrade.ttf");
  font-weight: 900;
}

body {
  background-color: #f0f0f0;
}

* {
  font-family: regrade;
  font-size: 20px;
  color: #323232;
}

.projects {
  font-family: regonia;
  font-size: 70px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 600px) {
  .projects {
    font-family: regonia;
    font-size: 15vw;
    letter-spacing: 5px;
  }
}

.horizontalGal {
  font-family: regonia;
  font-size: 100px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 600px) {
  .horizontalGal {
    font-family: regonia;
    font-size: 15vw;
    letter-spacing: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .horizontalGal {
    font-family: regonia;
    font-size: 12vw;
    letter-spacing: 5px;
  }
}

body:has(.requires-no-scroll) {
  overflow: hidden;
}

.flexbox {
  display: flex;
}

.visible {
  opacity: 1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}